{% extends "layout.html" %}

{% block body %}
<div class="back-buttons">
    <ul>
        <li><a href="/"><u>Home</u></a><span> > </span><a href="/contact"><u>Contact</u></a></li>
    </ul>
</div>
<div class="main-search" style="width: 50%;">
    <div class="search-title">
        Contact GOV.UK
    </div>
    <div class="contact-form-para">
        <p>This form is for issues to do with the GOV.UK website.</p>
        <p>You can use it to ask a question, report a problem or suggest an improvement to the GOV.UK team.</p>
        <p>We can’t reply to you with advice. We don’t have access to information about you held by government
            departments.</p>
        <p>If you have a question about a government service or policy, check the help pages or contact the government
            department directly.</p>
    </div>
    <div class="contact-form">
        <form action="/contact/govuk" method="POST">
            <div class="form-radio-btn">
                <h2 style="font-size: 2.5rem; padding: 1rem 0;">What's it to do with?</h2>
                <label class="container">The whole site<input type="radio" checked="checked" id="wholeSite" name="it_to_do" value="whole site"><span class="checkmark"></span></label><br>
                <label class="container">A specific page<input type="radio" id="spacificSite" name="it_to_do" value="specific site"><span class="checkmark"></span></label>
            </div>
            <div class="form-1">
                <h2>What are the details?</h2>
                <p>For example if you were searching for something, what did you type into the search box?</p>
                <div class="alert-black">
                    <p>Don’t include personal or financial information, for example your National Insurance number or
                        credit card details.</p>
                </div>
                <div class="text-area">
                    <textarea name="message" id="detail" cols="30" rows="10"></textarea>
                </div>
                <div class="reply">
                    <h2>Do you want a reply?</h2>
                    <p>If you'd like us to get back to you, please leave your details below.</p>
                    <label for="name">Your name</label><br>
                    <input type="text" id="citizen-name" name="c_name">
                    <label for="email">Your email address</label><br>
                    <p>We'll only use this to reply to your message.</p>
                    <input type="email" id="citizen-email" name="c_email">
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <!-- <div class="email-button">
        <a href="mailto:sahileng03@gmail.com">Contact via Email</a>
    </div> -->
</div>
{% endblock %}